<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kafe Kita - Apps</title>
  </head>

  <body>
    <a href="#content" class="skip_to_content" tabindex="0">Skip to Content</a>

    <!-- NAV BAR SMALL [START] -->
    <div id="nav-small">
      <h1>Kafe Kita</h1>
      <div class="nav-small__toggle">
        <button type="button" class="hamburger" tabindex="0">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
    <nav id="nav-drawer-small">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li>
          <a href="https://github.com/Id-Yuu" target="_blank">About</a>
        </li>
      </ul>
    </nav>
    <!-- NAV BAR SMALL [END] -->

    <!-- NAV BAR LARGE [START] -->
    <nav id="nav-large">
      <h1>Kafe Kita</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li>
          <a href="https://github.com/Id-Yuu" target="_blank">About</a>
        </li>
      </ul>
    </nav>
    <!-- NAV BAR LARGE [END] -->

    <!-- HERO [START] -->
    <div class="hero">
      <div class="hero-content">
        <h1>Kafe Kita</h1>
        <p>
          Berkunjunglah ke Kafe Kita dan rasakan sensasi makanan khas Indonesia.
        </p>
      </div>
    </div>
    <!-- HERO [END] -->

    <!-- MAIN [START] -->
    <main id="content">
      <h2>Daftar Restoran</h2>
      <div id="restaurants"></div>
    </main>
    <!-- MAIN [END] -->

    <!-- FOOTER -->
    <footer class="footer">
      <p>Copyright © 2024 - Kafe Kita</p>
    </footer>

    <!-- SCRIPT -->
    <script src="./scripts/main.js" type="module"></script>
  </body>
</html>
